export(coxphSGD)
export(dataCox)
export(simulateCoxSGD)
import(foreach)
importFrom(assertthat,assert_that)
importFrom(dplyr,arrange)
importFrom(dplyr,bind_rows)
importFrom(dplyr,filter)
importFrom(dplyr,mutate)
importFrom(magrittr,"%>%")
importFrom(reshape2,melt)
importFrom(survival,Surv)
